<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Show Product</title>
	</head>
	<body>
		<nav>
			<a href="/products">Back to Product Index</a>
		</nav>
		<h1><%=product.name %></h1>
        <img src="<%= product.img %> " alt="<%= product.name %> " height="200px"/> <br />
		Product: <%= product.name%>
		<br />
		Description: <%= product.description %>
        <br />
        Price: $<%= product.price %> 
        <br />
        Quantity: <%= product.qty %> 
        <br />
		<form action="/cart?_method=POST" method="POST" style="display:inline;">
			<input type="text" name="productId" value="<%= product._id %>" hidden>
			<% if(product.qty > 0) { %>
				<input type="submit" value="Add to Cart">
			<% } else { %>
				<p style="color:red; display:inline;">Out of Stock</p>
			<% } %>
		</form>
        <a href="/products/<%=product._id%>/edit"><button>Edit</button></a>
	</body>
</html>